.container.header_content {
h1{
    color: white;
    font-size: 48px;
}
    h3{
        font-size: 25px;
        color: white;
        padding: 40px 0px;
    }
}

.input_section input {
    padding: 15px 20px;
    border-radius: 41px;
    border: none;
    outline: none;
    width: 45%;
    display: inline;
}

.input_section button {
    color: white;
    background: #3F27BA;
    transition: .3s;
    padding: 12px;
    border: navajowhite;
    border-radius: 25px;
    font-weight: 600;
    margin-left: -14%;
    margin-bottom: 5px;
    &:hover{
        background: #330691;
        transition: .3s;
    }
}
