.main_header{
    background:  linear-gradient(#030303c2,rgba(221, 221, 221, 0), #9198e500),url("../../../assets/images/banner.jpg"),; /* fallback */
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}