.service_card {
  .card-item{
    border-bottom: 1px solid #e2dddd;
  }
  .linkTab {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .card_footer{
    .images{
      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }
  }
}
